# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build output
.next/
out/
build/

# Static files cache
.cache/

# Environment variables
.env
.env.local
.env.*.local

# System files
.DS_Store
Thumbs.db

# Vercel specific files
.vercel

# NPM and Yarn artifacts
package-lock.json
yarn.lock
.pnpm-debug.log*

# IDE and editor settings
.idea/
.vscode/
*.swp

# Coverage files
coverage/

# Testing and linting
jest-html-reporters-*.html
.nyc_output/